In [0]:
bronze_path = "/mnt/bronze/superstore"
df_bronze = spark.read.format("delta").load(bronze_path)

In [0]:
#Add Total Cost Column
from pyspark.sql.functions import col

df_transformed = df_bronze.withColumn("TotalCost", col("Sales") - col("Profit"))
df_transformed.show(5)

+------+------------+----------+----------+--------------+-----------+-----------------+-----------+--------------+---------------+--------------------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+--------+-------------+--------------+------+------------------+
|Row_ID|    Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|    Customer Name|    Segment|          City|          State|             Country|Postal Code|Market|Region|      Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount|  Profit|Shipping Cost|Order Priority|Row ID|         TotalCost|
+------+------------+----------+----------+--------------+-----------+-----------------+-----------+--------------+---------------+--------------------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+--------+-------------+--------------+------+------------------+
|  NULL|AE-2011-9160|2011-10-03|2011-10-07|Standard Class|    PO-8865|Patrick O'Donnell|   Consumer|         Ajman|         'Ajman|United Arab Emirates|       NULL|  EMEA|  EMEA|TEC-EPS-10004171|     Technology|    Machines|Epson Calculator,...|78.408|       6|     0.7| -88.992|         3.87|        Medium| 48312|             167.4|
|  NULL|AE-2013-1130|2013-10-14|2013-10-14|      Same Day|    EB-4110|   Eugene Barchas|   Consumer|Ras al Khaymah|Ra's Al Khaymah|United Arab Emirates|       NULL|  EMEA|  EMEA|OFF-ACC-10004278|Office Supplies|   Fasteners|Accos Paper Clips...| 4.248|       1|     0.7|  -4.692|          0.1|          High| 47297| 8.940000000000001|
|  NULL|AE-2014-3830|2014-12-13|2014-12-19|Standard Class|    GH-4665|      Greg Hansen|   Consumer|Ras al Khaymah|Ra's Al Khaymah|United Arab Emirates|       NULL|  EMEA|  EMEA|OFF-AVE-10000357|Office Supplies|     Binders|Avery Binder Cove...| 3.159|       1|     0.7|  -4.971|         0.25|        Medium| 43923| 8.129999999999999|
|  NULL|AE-2014-3830|2014-12-13|2014-12-19|Standard Class|    GH-4665|      Greg Hansen|   Consumer|Ras al Khaymah|Ra's Al Khaymah|United Arab Emirates|       NULL|  EMEA|  EMEA|TEC-MOT-10001535|     Technology|      Phones|Motorola Headset,...|95.796|       4|     0.7|-156.564|         6.73|        Medium| 43926|            252.36|
|  NULL|AG-2011-1390|2011-08-16|2011-08-21|Standard Class|    DH-3675|    Duane Huffman|Home Office|        Bejaia|         Bejaia|             Algeria|       NULL|Africa|Africa|OFF-IBI-10000440|Office Supplies|     Binders|Ibico Binder Cove...| 26.22|       2|       0|     1.8|         2.41|        Medium| 42656|24.419999999999998|
+------+------------+----------+----------+--------------+-----------+-----------------+-----------+--------------+---------------+--------------------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+--------+-------------+--------------+------+------------------+
only showing top 5 rows

In [0]:
#Convert Sales and Profit to Float

df_transformed = df_transformed.withColumn("Sales", col("Sales").cast("float"))
df_transformed = df_transformed.withColumn("Profit", col("Profit").cast("float"))

df_transformed.show(5)

+------+------------+----------+----------+--------------+-----------+-----------------+-----------+--------------+---------------+--------------------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+--------+-------------+--------------+------+------------------+
|Row_ID|    Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|    Customer Name|    Segment|          City|          State|             Country|Postal Code|Market|Region|      Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount|  Profit|Shipping Cost|Order Priority|Row ID|         TotalCost|
+------+------------+----------+----------+--------------+-----------+-----------------+-----------+--------------+---------------+--------------------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+--------+-------------+--------------+------+------------------+
|  NULL|AE-2011-9160|2011-10-03|2011-10-07|Standard Class|    PO-8865|Patrick O'Donnell|   Consumer|         Ajman|         'Ajman|United Arab Emirates|       NULL|  EMEA|  EMEA|TEC-EPS-10004171|     Technology|    Machines|Epson Calculator,...|78.408|       6|     0.7| -88.992|         3.87|        Medium| 48312|             167.4|
|  NULL|AE-2013-1130|2013-10-14|2013-10-14|      Same Day|    EB-4110|   Eugene Barchas|   Consumer|Ras al Khaymah|Ra's Al Khaymah|United Arab Emirates|       NULL|  EMEA|  EMEA|OFF-ACC-10004278|Office Supplies|   Fasteners|Accos Paper Clips...| 4.248|       1|     0.7|  -4.692|          0.1|          High| 47297| 8.940000000000001|
|  NULL|AE-2014-3830|2014-12-13|2014-12-19|Standard Class|    GH-4665|      Greg Hansen|   Consumer|Ras al Khaymah|Ra's Al Khaymah|United Arab Emirates|       NULL|  EMEA|  EMEA|OFF-AVE-10000357|Office Supplies|     Binders|Avery Binder Cove...| 3.159|       1|     0.7|  -4.971|         0.25|        Medium| 43923| 8.129999999999999|
|  NULL|AE-2014-3830|2014-12-13|2014-12-19|Standard Class|    GH-4665|      Greg Hansen|   Consumer|Ras al Khaymah|Ra's Al Khaymah|United Arab Emirates|       NULL|  EMEA|  EMEA|TEC-MOT-10001535|     Technology|      Phones|Motorola Headset,...|95.796|       4|     0.7|-156.564|         6.73|        Medium| 43926|            252.36|
|  NULL|AG-2011-1390|2011-08-16|2011-08-21|Standard Class|    DH-3675|    Duane Huffman|Home Office|        Bejaia|         Bejaia|             Algeria|       NULL|Africa|Africa|OFF-IBI-10000440|Office Supplies|     Binders|Ibico Binder Cove...| 26.22|       2|       0|     1.8|         2.41|        Medium| 42656|24.419999999999998|
+------+------------+----------+----------+--------------+-----------+-----------------+-----------+--------------+---------------+--------------------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+--------+-------------+--------------+------+------------------+
only showing top 5 rows

In [0]:
#Filter Rows with Zero or Negative Profit

df_transformed = df_transformed.filter(col("Profit") > 0)
df_transformed.show(5)

+------+------------+----------+----------+--------------+-----------+------------------+-----------+-----------+-----------+-------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+------+-------------+--------------+------+------------------+
|Row_ID|    Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|       City|      State|Country|Postal Code|Market|Region|      Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount|Profit|Shipping Cost|Order Priority|Row ID|         TotalCost|
+------+------------+----------+----------+--------------+-----------+------------------+-----------+-----------+-----------+-------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+------+-------------+--------------+------+------------------+
|  NULL|AG-2011-1390|2011-08-16|2011-08-21|Standard Class|    DH-3675|     Duane Huffman|Home Office|     Bejaia|     Bejaia|Algeria|       NULL|Africa|Africa|OFF-SAN-10001237|Office Supplies|       Paper|SanDisk Cards & E...|581.04|      12|       0|220.68|        35.32|        Medium| 42655|360.35999999999996|
|  NULL|AG-2011-1440|2011-12-15|2011-12-20|Standard Class|    DB-3210|       Dean Braden|   Consumer|Constantine|Constantine|Algeria|       NULL|Africa|Africa|OFF-AVE-10004909|Office Supplies|     Binders|Avery 3-Hole Punc...| 58.74|       2|       0| 20.52|         3.04|        Medium| 48096|             38.22|
|  NULL| AG-2011-380|2011-03-03|2011-03-09|Standard Class|    CC-2370|Christopher Conant|   Consumer|    Algiers|      Alger|Algeria|       NULL|Africa|Africa|FUR-ELD-10003131|      Furniture| Furnishings|Eldon Frame, Durable|113.28|       1|       0| 29.43|         9.51|        Medium| 44980|             83.85|
|  NULL|AG-2011-4410|2011-11-02|2011-11-04|   First Class|    JH-5985|       Joseph Holt|   Consumer|     Bejaia|     Bejaia|Algeria|       NULL|Africa|Africa|OFF-EAT-10003338|Office Supplies|       Paper|Eaton Message Boo...| 24.72|       1|       0| 10.86|         4.29|          High| 47723|             13.86|
|  NULL| AG-2011-450|2011-11-07|2011-11-11|Standard Class|    BC-1125|     Becky Castell|Home Office|    Algiers|      Alger|Algeria|       NULL|Africa|Africa|OFF-STO-10003604|Office Supplies|   Fasteners|Stockwell Staples...| 10.92|       1|       0|  4.14|         1.05|        Medium| 43718|              6.78|
+------+------------+----------+----------+--------------+-----------+------------------+-----------+-----------+-----------+-------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+------+-------------+--------------+------+------------------+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import col, sum
#Group by Category and Region and perform aggregation

# Step 1: Clean the data by filtering out rows with non-numeric values in Sales, Quantity, or Discount
df_clean = df_bronze.filter(
    (col("Sales").rlike("^[0-9]*\.?[0-9]+$")) &  # Allow decimal numbers in Sales
    (col("Quantity").rlike("^[0-9]+$")) &  # Allow only integers in Quantity
    (col("Discount").rlike("^[0-9]*\.?[0-9]+$"))  # Allow decimal numbers in Discount
)

# Step 2: Cast the cleaned columns to appropriate numeric types
df_clean = df_clean.withColumn("Sales", col("Sales").cast("float")) \
                   .withColumn("Quantity", col("Quantity").cast("int")) \
                   .withColumn("Discount", col("Discount").cast("float"))

# Step 3: Drop rows with any null values in the numeric columns (after casting)
df_clean = df_clean.dropna(subset=["Sales", "Quantity", "Discount", "Profit"])

# Step 4: Group by Category and Region and perform aggregation
df_grouped = df_clean.groupBy("Category", "Region") \
    .agg(
        sum("Sales").alias("TotalSales"),
        sum("Profit").alias("TotalProfit"),
        sum("Quantity").alias("TotalQuantity"),
        sum("Discount").alias("TotalDiscount")
    )

# Step 5: Show the transformed data
df_grouped.show(5)

+----------+------+------------------+------------------+-------------+-----------------+
|  Category|Region|        TotalSales|       TotalProfit|TotalQuantity|    TotalDiscount|
+----------+------+------------------+------------------+-------------+-----------------+
| Furniture|Canada|10595.279964447021|2613.2400000000002|           78|              0.0|
|Technology|  EMEA|  300854.583026886|         17494.443|         2259|189.1000056862831|
| Furniture|  East| 205540.3473367691| 2501.816200000002|         2151| 90.6000018119812|
|Technology|Africa| 322367.0430994034|44129.492999999995|         2031|143.1999975964427|
|Technology|  East| 264872.0816922188|        47439.5576|         1927|76.30000080168247|
+----------+------+------------------+------------------+-------------+-----------------+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import col

# Add a Profit Margin Column 
df_grouped = df_transformed.withColumn("ProfitMargin", (col("Profit") / col("Sales")) * 100)

# Show the result
df_grouped.show(5)

+------+------------+----------+----------+--------------+-----------+------------------+-----------+-----------+-----------+-------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+------+-------------+--------------+------+------------------+------------------+
|Row_ID|    Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|       City|      State|Country|Postal Code|Market|Region|      Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount|Profit|Shipping Cost|Order Priority|Row ID|         TotalCost|      ProfitMargin|
+------+------------+----------+----------+--------------+-----------+------------------+-----------+-----------+-----------+-------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+------+-------------+--------------+------+------------------+------------------+
|  NULL|AG-2011-1390|2011-08-16|2011-08-21|Standard Class|    DH-3675|     Duane Huffman|Home Office|     Bejaia|     Bejaia|Algeria|       NULL|Africa|Africa|OFF-SAN-10001237|Office Supplies|       Paper|SanDisk Cards & E...|581.04|      12|       0|220.68|        35.32|        Medium| 42655|360.35999999999996| 37.98017365775751|
|  NULL|AG-2011-1440|2011-12-15|2011-12-20|Standard Class|    DB-3210|       Dean Braden|   Consumer|Constantine|Constantine|Algeria|       NULL|Africa|Africa|OFF-AVE-10004909|Office Supplies|     Binders|Avery 3-Hole Punc...| 58.74|       2|       0| 20.52|         3.04|        Medium| 48096|             38.22|34.933605501216725|
|  NULL| AG-2011-380|2011-03-03|2011-03-09|Standard Class|    CC-2370|Christopher Conant|   Consumer|    Algiers|      Alger|Algeria|       NULL|Africa|Africa|FUR-ELD-10003131|      Furniture| Furnishings|Eldon Frame, Durable|113.28|       1|       0| 29.43|         9.51|        Medium| 44980|             83.85| 25.97987343071408|
|  NULL|AG-2011-4410|2011-11-02|2011-11-04|   First Class|    JH-5985|       Joseph Holt|   Consumer|     Bejaia|     Bejaia|Algeria|       NULL|Africa|Africa|OFF-EAT-10003338|Office Supplies|       Paper|Eaton Message Boo...| 24.72|       1|       0| 10.86|         4.29|          High| 47723|             13.86| 43.93203866640217|
|  NULL| AG-2011-450|2011-11-07|2011-11-11|Standard Class|    BC-1125|     Becky Castell|Home Office|    Algiers|      Alger|Algeria|       NULL|Africa|Africa|OFF-STO-10003604|Office Supplies|   Fasteners|Stockwell Staples...| 10.92|       1|       0|  4.14|         1.05|        Medium| 43718|              6.78|   37.912086424551|
+------+------------+----------+----------+--------------+-----------+------------------+-----------+-----------+-----------+-------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+------+-------------+--------------+------+------------------+------------------+
only showing top 5 rows

In [0]:
# Remove Duplicate Rows based on 'Category' and 'Region' 
df_grouped = df_transformed.dropDuplicates(["Category", "Region"])

df_grouped.show(5)

+------+--------------+----------+----------+--------------+-----------+------------------+--------+-------------------+-------------+-------------+-----------+------+------------+----------------+---------+------------+--------------------+------+--------+--------+-------+-------------+--------------+------+------------------+
|Row_ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name| Segment|               City|        State|      Country|Postal Code|Market|      Region|      Product ID| Category|Sub-Category|        Product Name| Sales|Quantity|Discount| Profit|Shipping Cost|Order Priority|Row ID|         TotalCost|
+------+--------------+----------+----------+--------------+-----------+------------------+--------+-------------------+-------------+-------------+-----------+------+------------+----------------+---------+------------+--------------------+------+--------+--------+-------+-------------+--------------+------+------------------+
|  NULL|   AG-2011-380|2011-03-03|2011-03-09|Standard Class|    CC-2370|Christopher Conant|Consumer|            Algiers|        Alger|      Algeria|       NULL|Africa|      Africa|FUR-ELD-10003131|Furniture| Furnishings|Eldon Frame, Durable|113.28|       1|       0|  29.43|         9.51|        Medium| 44980|             83.85|
|  NULL|  CA-2011-4370|2011-09-23|2011-09-30|Standard Class|    DW-3540|         Don Weiss|Consumer|            Toronto|      Ontario|       Canada|       NULL|Canada|      Canada|FUR-DEF-10000622|Furniture| Furnishings|Deflect-O Light B...| 18.99|       1|       0|   6.81|         1.41|        Medium| 46421|             12.18|
|  NULL|MX-2011-104752|2011-03-11|2011-03-16|Standard Class|   MM-18055|    Michelle Moray|Consumer|Consolaci�n del Sur|Pinar del R�o|         Cuba|       NULL| LATAM|   Caribbean| FUR-FU-10000885|Furniture| Furnishings|Eldon Light Bulb,...| 44.46|       3|       0|    8.4|         3.41|        Medium|  1351|             36.06|
|  NULL|CA-2011-131002|2011-09-07|2011-09-12|  Second Class|   TB-21400|  Tom Boeckenhauer|Consumer|              Tulsa|     Oklahoma|United States|      74133|    US|     Central| FUR-FU-10004270|Furniture| Furnishings|"Executive Impres...| 57.69|       3|       0|23.6529|         4.22|          High| 33942|34.037099999999995|
|  NULL| ID-2014-20205|2014-10-22|2014-10-27|Standard Class|   JC-15340|   Jasper Cacioppo|Consumer|             Lahore|       Punjab|     Pakistan|       NULL|  APAC|Central Asia| FUR-FU-10000394|Furniture| Furnishings|Rubbermaid Photo ...|78.048|       2|     0.2| 26.328|         5.82|        Medium| 22308|             51.72|
+------+--------------+----------+----------+--------------+-----------+------------------+--------+-------------------+-------------+-------------+-----------+------+------------+----------------+---------+------------+--------------------+------+--------+--------+-------+-------------+--------------+------+------------------+
only showing top 5 rows

In [0]:
#Rename Columns for Clarity
df_grouped = df_transformed.withColumnRenamed("Sales", "TotalSales") \
                                .withColumnRenamed("Profit", "TotalProfit")
                                
df_grouped.show(5)

+------+------------+----------+----------+--------------+-----------+------------------+-----------+-----------+-----------+-------+-----------+------+------+----------------+---------------+------------+--------------------+----------+--------+--------+-----------+-------------+--------------+------+------------------+
|Row_ID|    Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|       City|      State|Country|Postal Code|Market|Region|      Product ID|       Category|Sub-Category|        Product Name|TotalSales|Quantity|Discount|TotalProfit|Shipping Cost|Order Priority|Row ID|         TotalCost|
+------+------------+----------+----------+--------------+-----------+------------------+-----------+-----------+-----------+-------+-----------+------+------+----------------+---------------+------------+--------------------+----------+--------+--------+-----------+-------------+--------------+------+------------------+
|  NULL|AG-2011-1390|2011-08-16|2011-08-21|Standard Class|    DH-3675|     Duane Huffman|Home Office|     Bejaia|     Bejaia|Algeria|       NULL|Africa|Africa|OFF-SAN-10001237|Office Supplies|       Paper|SanDisk Cards & E...|    581.04|      12|       0|     220.68|        35.32|        Medium| 42655|360.35999999999996|
|  NULL|AG-2011-1440|2011-12-15|2011-12-20|Standard Class|    DB-3210|       Dean Braden|   Consumer|Constantine|Constantine|Algeria|       NULL|Africa|Africa|OFF-AVE-10004909|Office Supplies|     Binders|Avery 3-Hole Punc...|     58.74|       2|       0|      20.52|         3.04|        Medium| 48096|             38.22|
|  NULL| AG-2011-380|2011-03-03|2011-03-09|Standard Class|    CC-2370|Christopher Conant|   Consumer|    Algiers|      Alger|Algeria|       NULL|Africa|Africa|FUR-ELD-10003131|      Furniture| Furnishings|Eldon Frame, Durable|    113.28|       1|       0|      29.43|         9.51|        Medium| 44980|             83.85|
|  NULL|AG-2011-4410|2011-11-02|2011-11-04|   First Class|    JH-5985|       Joseph Holt|   Consumer|     Bejaia|     Bejaia|Algeria|       NULL|Africa|Africa|OFF-EAT-10003338|Office Supplies|       Paper|Eaton Message Boo...|     24.72|       1|       0|      10.86|         4.29|          High| 47723|             13.86|
|  NULL| AG-2011-450|2011-11-07|2011-11-11|Standard Class|    BC-1125|     Becky Castell|Home Office|    Algiers|      Alger|Algeria|       NULL|Africa|Africa|OFF-STO-10003604|Office Supplies|   Fasteners|Stockwell Staples...|     10.92|       1|       0|       4.14|         1.05|        Medium| 43718|              6.78|
+------+------------+----------+----------+--------------+-----------+------------------+-----------+-----------+-----------+-------+-----------+------+------+----------------+---------------+------------+--------------------+----------+--------+--------+-----------+-------------+--------------+------+------------------+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import col, year, to_date

# Add a Year Column 
df_grouped = df_bronze.withColumn("Year", year(to_date(col("Order Date"), "MM/dd/yyyy")))

# Show the result
df_grouped.show(5)

+------+------------+----------+----------+--------------+-----------+-----------------+-----------+--------------+---------------+--------------------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+--------+-------------+--------------+------+----+
|Row_ID|    Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|    Customer Name|    Segment|          City|          State|             Country|Postal Code|Market|Region|      Product ID|       Category|Sub-Category|        Product Name| Sales|Quantity|Discount|  Profit|Shipping Cost|Order Priority|Row ID|Year|
+------+------------+----------+----------+--------------+-----------+-----------------+-----------+--------------+---------------+--------------------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+--------+-------------+--------------+------+----+
|  NULL|AE-2011-9160|2011-10-03|2011-10-07|Standard Class|    PO-8865|Patrick O'Donnell|   Consumer|         Ajman|         'Ajman|United Arab Emirates|       NULL|  EMEA|  EMEA|TEC-EPS-10004171|     Technology|    Machines|Epson Calculator,...|78.408|       6|     0.7| -88.992|         3.87|        Medium| 48312|2011|
|  NULL|AE-2013-1130|2013-10-14|2013-10-14|      Same Day|    EB-4110|   Eugene Barchas|   Consumer|Ras al Khaymah|Ra's Al Khaymah|United Arab Emirates|       NULL|  EMEA|  EMEA|OFF-ACC-10004278|Office Supplies|   Fasteners|Accos Paper Clips...| 4.248|       1|     0.7|  -4.692|          0.1|          High| 47297|2013|
|  NULL|AE-2014-3830|2014-12-13|2014-12-19|Standard Class|    GH-4665|      Greg Hansen|   Consumer|Ras al Khaymah|Ra's Al Khaymah|United Arab Emirates|       NULL|  EMEA|  EMEA|OFF-AVE-10000357|Office Supplies|     Binders|Avery Binder Cove...| 3.159|       1|     0.7|  -4.971|         0.25|        Medium| 43923|2014|
|  NULL|AE-2014-3830|2014-12-13|2014-12-19|Standard Class|    GH-4665|      Greg Hansen|   Consumer|Ras al Khaymah|Ra's Al Khaymah|United Arab Emirates|       NULL|  EMEA|  EMEA|TEC-MOT-10001535|     Technology|      Phones|Motorola Headset,...|95.796|       4|     0.7|-156.564|         6.73|        Medium| 43926|2014|
|  NULL|AG-2011-1390|2011-08-16|2011-08-21|Standard Class|    DH-3675|    Duane Huffman|Home Office|        Bejaia|         Bejaia|             Algeria|       NULL|Africa|Africa|OFF-IBI-10000440|Office Supplies|     Binders|Ibico Binder Cove...| 26.22|       2|       0|     1.8|         2.41|        Medium| 42656|2011|
+------+------------+----------+----------+--------------+-----------+-----------------+-----------+--------------+---------------+--------------------+-----------+------+------+----------------+---------------+------------+--------------------+------+--------+--------+--------+-------------+--------------+------+----+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import col, year, to_date, sum
#Filter the Data for a Specific Year

# Step 1: Add the Year Column to the Original DataFrame
df = df_bronze.withColumn("Year", year(to_date(col("Order Date"), "MM/dd/yyyy")))

# Step 2: Perform the aggregation including 'Year'
df_transformed = df.groupBy("Category", "Region", "Year") \
    .agg(
        sum("Sales").alias("TotalSales"),
        sum("Profit").alias("TotalProfit"),
        sum("Quantity").alias("TotalQuantity"),
        sum("Discount").alias("TotalDiscount")
    )

# Step 3: Filter the Data for a Specific Year
df_grouped = df_transformed.filter(col("Year") == 2012)

# Show the result
df_grouped.show(5)

+----------+-------+----+----------+------------------+-------------+------------------+
|  Category| Region|Year|TotalSales|       TotalProfit|TotalQuantity|     TotalDiscount|
+----------+-------+----+----------+------------------+-------------+------------------+
| Furniture|Oceania|2012|100519.008| 8623.818000000001|        607.0|26.199999999999978|
|Technology| Africa|2012| 64734.582| 6320.741999999999|        404.0|36.699999999999996|
|Technology|  North|2012|126353.563|25098.863000000005|        809.0| 7.377999999999993|
| Furniture| Canada|2012|   1600.68|            290.19|         16.0|               0.0|
|Technology|Oceania|2012| 89761.767|         14203.827|        688.0|23.499999999999986|
+----------+-------+----+----------+------------------+-------------+------------------+
only showing top 5 rows

In [0]:
#Sort Data by Total Sales
df_grouped = df_transformed.orderBy(col("TotalSales").desc())
df_grouped.show()

+---------------+-------+----+------------------+------------------+------------------+------------------+
|       Category| Region|Year|        TotalSales|       TotalProfit|     TotalQuantity|     TotalDiscount|
+---------------+-------+----+------------------+------------------+------------------+------------------+
|     Technology|Central|2014|343261.71891999996| 46266.45321999999|            2600.0| 93.55999999999997|
|Office Supplies|Central|2014| 313521.1169999999|36457.128400000016|          9564.338| 406.1000000000015|
|     Technology|Central|2013|      281501.66124| 39571.08374000002|2230.7799999999997| 76.50000000000003|
|      Furniture|Central|2014|281108.88969999994|15576.571300000007|          2778.252|129.51999999999995|
|Office Supplies|Central|2013|249453.54200000004|36849.007399999995|          7735.108|285.80000000000035|
|     Technology|Central|2012|237291.81162000002|       31373.85432|            1791.0| 61.14200000000001|
|      Furniture|Central|2013|        232113.698|         20804.504|          2187.344|103.06999999999987|
|     Technology|  South|2014|      208820.03832|16919.977120000003|            1617.0| 61.73200000000001|
|      Furniture|Central|2012|183778.99949999998| 5231.084800000003|           1876.94|  85.1399999999999|
|Office Supplies|Central|2012|        180068.292|26988.422599999998| 6003.083999999999|198.40000000000006|
|Office Supplies|Central|2011|177982.10699999996|         21178.898|            5032.1|215.58800000000008|
|     Technology|Central|2011|176379.68885999997|       18323.03876|            1370.0|47.118000000000016|
|      Furniture|  South|2014|       168929.8605| 8636.212800000001|2001.1680000000001| 78.69999999999996|
|Office Supplies|  South|2014|166334.93200000003|        25971.4154|          5738.816|235.09399999999994|
|     Technology|  North|2014|      164019.24052|       31386.99052|            1225.0|17.203999999999986|
|      Furniture|Central|2011|162401.97609999997|13228.075600000002|          1773.484|             77.86|
|     Technology|  South|2013|      154303.72908| 17870.09517999999|           1288.56|            54.104|
|      Furniture|  South|2013|148325.80250000002|3220.7773000000007|            1451.0| 71.05000000000001|
|Office Supplies|  South|2013|140610.47499999995|        18686.1719|          4546.386|             189.7|
|     Technology|Oceania|2014|        136691.307|13990.887000000002|             923.0|44.599999999999966|
+---------------+-------+----+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [0]:
#
df_final = df_grouped.withColumn("HighDiscount", col("TotalDiscount") > 50)
df_final.show(5)

+---------------+-------+----+------------------+------------------+------------------+------------------+------------+
|       Category| Region|Year|        TotalSales|       TotalProfit|     TotalQuantity|     TotalDiscount|HighDiscount|
+---------------+-------+----+------------------+------------------+------------------+------------------+------------+
|     Technology|Central|2014|343261.71891999996| 46266.45321999999|            2600.0| 93.55999999999997|        true|
|Office Supplies|Central|2014| 313521.1169999999|36457.128400000016|          9564.338| 406.1000000000015|        true|
|     Technology|Central|2013|      281501.66124| 39571.08374000002|2230.7799999999997| 76.50000000000003|        true|
|      Furniture|Central|2014|281108.88969999994|15576.571300000007|          2778.252|129.51999999999995|        true|
|Office Supplies|Central|2013|249453.54200000004|36849.007399999995|          7735.108|285.80000000000035|        true|
+---------------+-------+----+------------------+------------------+------------------+------------------+------------+
only showing top 5 rows

In [0]:
#Save Transformed Data in Silver Zone
silver_zone_path = "/mnt/silver/superstore"
df_final.write.format("delta").mode("overwrite").save(silver_zone_path)

In [0]:
dbutils.notebook.exit(silver_zone_path)